@import '/node_modules/@shoelace-style/shoelace/dist/themes/light.css';

body {
  background: var(--sl-color-neutral-50);
  color: var(--sl-color-neutral-800);
  font-family: var(--sl-font-sans);
}

h1, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}
